/* Additional custom styles */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 0;
}
.logo-section {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}
.logo-section a {
    text-decoration: none;
    color: inherit;
}

.filter-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    flex-wrap: wrap;
}
.filters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.filters-container .form-group {
    margin-right: 10px; /* Space between filters */
}

.filter-form .form-group {
    margin-bottom: 0;
}

.form-control {
    min-width: 150px;
}
