{% extends 'base.html' %}

{% block content %}
<div class="product-details-container">
    <button id="back-button" class="btn btn-secondary">Back</button>
    <div class="product-info">
        <!-- Back Button -->

        <h2>{{ product.ProductName }}</h2>
        <p><strong>Color:</strong> {{ product.ProductColor }}</p>
        <p><strong>Condition:</strong> {{ product.Condition }}</p>
        <p><strong>Description:</strong> {{ product.Description }}</p>
        <p><strong>Price:</strong> ${{ product.Price }}</p>
        <p><strong>Date Posted:</strong> {{ product.DatePosted.strftime('%Y-%m-%d') }}</p>
        <p><strong>Seller:</strong> {{ product.seller.FirstName }} {{ product.seller.LastName }}</p>
        <p><strong>Category:</strong> {{ product.category.CategoryName }}</p>
        <p><strong>Pickup Location:</strong> {{ product.seller.addresses[0].Street }}, {{ product.seller.addresses[0].City }}</p>

        <button class="contact-seller-btn">Contact Seller</button>
    </div>
    <div class="product-images">
        <!-- Larger main image -->
        <div class="main-image">
            <img id="main-product-image" src="{{ images[0].ImageURL }}" alt="Main Product Image">
        </div>

        <!-- Thumbnails of other images -->
        <div class="image-thumbnails">
            {% for image in images %}
                <img class="thumbnail" src="{{ image.ImageURL }}" alt="Product Thumbnail" onclick="changeImage('{{ image.ImageURL }}')">
            {% endfor %}
        </div>
    </div>
</div>

<script>
    function changeImage(src) {
        // Change the source of the main image to the source of the clicked thumbnail
        document.getElementById('main-product-image').src = src;
    }
</script>

{% endblock %}


